/* projecta_style.css */
/* lets add a cursor*/
/* I'm Attempting to use rem and the most accessiblt code where I can, but I am very familer with pixels */
.header
  {
  background-color: rgb(128, 0, 0);
  color: white;
  text-align: center;        
  padding: 5px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
}
body {
  background-color: rgb(36, 37, 37);
  display: flex;
  flex-direction: column;
}
h1 {
  color: rgb(128, 0, 0);
  margin-left: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-weight: bold;
  font-style: italic;
  font-size: 2.8rem;
}

h2 {
  color: rgb(128, 0, 0);
  margin-left: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-weight: thin;
}
p {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-weight: normal;
  fonnt-size: 1.2rem;
}

.basic_section {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
 
}

.twolist  {

}

.purple {
  background-color: rgb(128, 0, 128);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}
/* this is not an exact yellow, but for accessibilty, it a very mustard yellow, better for white text.*/
.yellow {
  background-color: rgb(255, 179, 0);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cyan {
  background-color: rgb(0, 255, 255);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.pink {
  background-color: rgb(255, 192, 203);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}